/*
  FADE IN ANIMATIONS
  usage: fadeIn[Dark]
  e.g. fadeIn | fadeInDark
*/
.fadeOut {
  animation-name: slideOutT;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-direction: alternate;
}

@keyframes slideOutT {
  0% {
    transform: translate(0%);
  }
  100% {
    transform: translate(200%);
  }
}

@keyframes fadeInDark {
  0% {
    opacity: 1%;
  }
  100% {
    opacity: 40%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 1%;
  }
  100% {
    opacity: 100%;
  }
}
/*
  SLIDE IN ANIMATIONS
  usage: slideIn[Far][Left|Right][Dark]
  e.g. slideInFarLeftDark
*/

@keyframes slideInFarLeftDark {
  0% {
    opacity: 1%;
    transform: translate(-200%);
  }
  100% {
    opacity: 40%;
    transform: translate(0%);
  }
}

@keyframes slideInFarRightDark {
  0% {
    opacity: 1%;
    transform: translate(200%);
  }
  100% {
    opacity: 40%;
    transform: translate(0%);
  }
}

@keyframes slideInFarUpDark {
  0% {
    opacity: 1%;
    transform: translate(0%, 200%);
  }
  100% {
    opacity: 40%;
    transform: translate(0%, 0px);
  }
}

@keyframes slideInFarDownDark {
  0% {
    opacity: 1%;
    transform: translate(0%, -200%);
  }
  100% {
    opacity: 40%;
    transform: translate(0%, 0px);
  }
}

@keyframes slideInLeftDark {
  0% {
    opacity: 1%;
    transform: translate(-100%);
  }
  100% {
    opacity: 40%;
    transform: translate(0%);
  }
}

@keyframes slideInRightDark {
  0% {
    opacity: 1%;
    transform: translate(100%);
  }
  100% {
    opacity: 40%;
    transform: translate(0%);
  }
}

@keyframes slideInUpDark {
  0% {
    opacity: 1%;
    transform: translate(0%, 100%);
  }
  100% {
    opacity: 40%;
    transform: translate(0%, 0%);
  }
}

@keyframes slideInDownDark {
  0% {
    opacity: 1%;
    transform: translate(0%, -100%);
  }
  100% {
    opacity: 40%;
    transform: translate(0%, 0%);
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 1%;
    transform: translate(-100px);
  }
  100% {
    opacity: 100%;
    transform: translate(0%);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 1%;
    transform: translate(100px);
  }
  100% {
    opacity: 100%;
    transform: translate(0px);
  }
}

@keyframes slideInUp {
  0% {
    opacity: 1%;
    transform: translate(0%, 100px);
  }
  100% {
    opacity: 100%;
    transform: translate(0%, 0px);
  }
}

@keyframes slideInDown {
  0% {
    opacity: 1%;
    transform: translate(0%, -100px);
  }
  100% {
    opacity: 100%;
    transform: translate(0%, 0px);
  }
}

/* END slideIn animations */
@keyframes blink {
  0% { opacity: 1%; }
  10% { opacity: 100%; }
  11% { opacity: 1%; }
  12% { opacity: 100%; }
  13% { opacity: 1%; }
  14% { opacity: 100%; }
  15% { opacity: 1%; }
  16% { opacity: 100%; }
  17% { opacity: 1%; }
  18% { opacity: 100%; }
  19% { opacity: 1%; }
  20% { opacity: 100%; }
  21% { opacity: 1%; }
  22% { opacity: 100%; }
  23% { opacity: 1%; }
  25% { opacity: 100%; }
  27% { opacity: 1%; }
  29% { opacity: 100%; }
  31% { opacity: 1%; }
  33% { opacity: 100%; }
  35% { opacity: 1%; }
  37% { opacity: 100%; }
  39% { opacity: 1%; }
  41% { opacity: 100%; }
  43% { opacity: 1%; }
  45% { opacity: 100%; }
  47% { opacity: 1%; }
  49% { opacity: 100%; }
  51% { opacity: 1%; }
  53% { opacity: 100%; }
  55% { opacity: 1%; }
  57% { opacity: 100%; }
  59% { opacity: 1%; }
  60% { opacity: 100%; }
  61% { opacity: 1%; }
  62% { opacity: 100%; }
  63% { opacity: 1%; }
  64% { opacity: 100%; }
  65% { opacity: 1%; }
  66% { opacity: 100%; }
  67% { opacity: 1%; }
  68% { opacity: 100%; }
  69% { opacity: 1%; }
  70% { opacity: 100%; }
  71% { opacity: 1%; }
  72% { opacity: 100%; }
  73% { opacity: 1%; }
  74% { opacity: 100%; }
  75% { opacity: 1%; }
  76% { opacity: 100%; }
  77% { opacity: 1%; }
  78% { opacity: 100%; }
  79% { opacity: 1%; }
  80% { opacity: 100%; }
  81% { opacity: 1%; }
  82% { opacity: 100%; }
  83% { opacity: 1%; }
  84% { opacity: 100%; }
  85% { opacity: 1%; }
  86% { opacity: 100%; }
  87% { opacity: 1%; }
  88% { opacity: 100%; }
  89% { opacity: 1%; }
  90% { opacity: 100%; }
  91% { opacity: 1%; }
  92% { opacity: 100%; }
  93% { opacity: 1%; }
  100% { opacity: 100%}
}

@keyframes blink_2 {
  25% { opacity: 100%; }
  27% { opacity: 1%; }
  29% { opacity: 100%; }
  31% { opacity: 1%; }
  33% { opacity: 100%; }
  35% { opacity: 1%; }
  37% { opacity: 100%; }
  39% { opacity: 1%; }
  41% { opacity: 100%; }
  43% { opacity: 1%; }
  45% { opacity: 100%; }
  47% { opacity: 1%; }
  49% { opacity: 100%; }
  51% { opacity: 1%; }
  53% { opacity: 100%; }
  55% { opacity: 1%; }
  57% { opacity: 100%; }
  59% { opacity: 1%; }
  100% { opacity: 100%}
}
