@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500;600&display=swap');

html {
  background-color: transparent;
  height: 100%;
  font-size: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: url('../../assets/black-leather-texture.jpg');*/
  background: #2C2438;
  /* background: url('../../assets/unsplash_bg0.jpg') no-repeat center fixed; */
  /* background-image: url('../../assets/fire_01.gif'); */

  overflow-x: hidden;
  font-family: 'Noto Sans Mono', monospace;
  font-weight: 300;
  font-size: 1.2em;
}

.container {
  position: absolute;
  min-height: 320px;
  height: 100%;
  width: 100%;
  background-image: url('../../assets/game_fire.gif');
  background-size: 50vw;
  background-position: center;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
